#input {
  width: 0;
  height: 0;
  overflow: hidden;
}

#input + label {
  display: inline-block;
  background-color: #777;
  font-family: sans-serif;
  padding: 5px;
  font-size: 2em;
  color: white;
}

#input:focus + label {
  outline: 5px solid teal;
}

.image {
  margin: 1em;
  width: 50%;
  margin: 0 auto;
}
